<script type="text/x-handlebars" id="application">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Dashboard</a>
        </div>
        <div class="container-fluid">
            <ul class="nav navbar-nav">
            {{#link-to "servers" tagName="li"}}
                <a {{bind-attr href="view.href"}}>Servers</a>
            {{/link-to}}
            {{#link-to "systems" tagName="li"}}
                <a {{bind-attr href="view.href"}}>Systems</a>
            {{/link-to}}
            </ul>
        </div>
    </nav>
    {{outlet}}
</script>
