<script type="text/x-handlebars" id="machines">
    <div class="section-b">
      <div class="toolbar-b">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <h1>Servers</h1>
            </div>
            <div class="col-md-4">
              <div class="btn-group pull-right">
                {{#link-to "servers.new" class="btn btn-success"}}New Server{{/link-to}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-b">
        {{outlet}}
      </div>
    </div>
</script>
