<script type="text/x-handlebars" id="process">
    <div class="right">
        <div class="container-fluid">
            <h1>{{name}} <small>{{pid}}</small></h1>
            <hr />

            {{#if status_ok}}
            <div class="row">
                <div class="col-md-12">
                    <p>CPU <span class="pull-right">{{round-one cpu_percent_total}}%</span></p>
                    <div class="progress">
                        <div id="application-loading-bar" class="progress-bar active progress-bar-danger" role="progressbar" {{bind-attr style="cpu_percent_total_css_width"}}></div>
                    </div>
                    <p>Memory: <small>{{memory_kilobyte_total}}k</small> <span class="pull-right">{{round-one memory_percent_total}}%</span></p>
                    <div class="progress">
                        <div id="application-loading-bar" class="progress-bar active progress-bar-info" role="progressbar" {{bind-attr style="memory_percent_total_css_width"}}></div>
                    </div>
                </div>
            </div>
            {{/if}}

            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Key</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Status</td>
                                <td>
                                    {{#if status_ok}}
                                        <span class="label label-success">Running</span>
                                    {{else}}
                                        <span class="label label-danger">Stopped</span>
                                    {{/if}}
                                </td>
                            </tr>
                            <tr><td>Satus Code</td><td>{{status_state}}</td></tr>
                            <tr><td>Message</td><td>{{status_message}}</td></tr>
                            {{#if status_ok}}
                            <tr><td>PPID</td><td>{{ppid}}</td></tr>
                            <tr><td>Uptime (Seconds)</td><td>{{uptime}}</td></tr>
                            <tr><td>Child Processes</td><td>{{child_count}}</td></tr>
                            {{/if}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>