<script type="text/x-handlebars" id="servers/new">
    <div class="middle">
        <div class="container-fluid">
            <h1>Create a new server:</h1>

            <hr />
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form">

                        <div {{bind-attr class=":form-group errors.hostname:has-error"}}>
                            <label for="inputHostname" class="col-sm-2 control-label">Hostname</label>
                            <div class="col-sm-10">
                                {{input type="text" value=hostname classNames="form-control" id="inputHostname" placeholder="Enter a hostname..."}}
                                {{#each errors.hostname }}
                                    <span class="help-block">{{message}}</span>
                                {{/each}}
                            </div>
                        </div>

                        <div {{bind-attr class=":form-group errors.ip_address:has-error"}}>
                            <label for="inputIpAddress" class="col-sm-2 control-label">IP Address</label>
                            <div class="col-sm-10">
                                {{input type="text" value=ip_address classNames="form-control" id="inputIpAddress" placeholder="Enter the IP address..."}}
                                {{#each errors.ip_address }}
                                    <span class="help-block">{{message}}</span>
                                {{/each}}
                            </div>
                        </div>

                        <div {{bind-attr class=":form-group errors.monit_port:has-error"}}>
                            <label for="inputMonitPort" class="col-sm-2 control-label">Monit Port</label>
                            <div class="col-sm-10">
                                {{input type="text" value=monit_port classNames="form-control" id="inputMonitPort" placeholder="Enter the monit port..."}}
                                {{#each errors.monit_port }}
                                    <span class="help-block">{{message}}</span>
                                {{/each}}
                            </div>
                        </div>

                        <div {{bind-attr class=":form-group errors.monit_username:has-error"}}>
                            <label for="inputMonitUsername" class="col-sm-2 control-label">Monit Username</label>
                            <div class="col-sm-10">
                                {{input type="text" value=monit_username classNames="form-control" id="inputMonitUsername" placeholder="Enter the monit username..."}}
                                {{#each errors.monit_username }}
                                    <span class="help-block">{{message}}</span>
                                {{/each}}
                            </div>
                        </div>

                        <div {{bind-attr class=":form-group errors.monit_password:has-error"}}>
                            <label for="inputMonitUsername" class="col-sm-2 control-label">Monit Password</label>
                            <div class="col-sm-10">
                                {{input type="text" value=monit_password classNames="form-control" id="inputMonitPassword" placeholder="Enter the monit password..."}}
                                {{#each errors.monit_password }}
                                    <span class="help-block">{{message}}</span>
                                {{/each}}
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="btn-group">
                                    <button {{action 'cancel'}} class="btn btn-default">Cancel</button>
                                    <button {{action 'submit'}} class="btn btn-default">Save</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</script>
