<script type="text/x-handlebars" id="servers">

    <div class="left">
        <div class="list-group">
            {{#each}}
                {{#link-to 'server' this classNames="list-group-item"}}
                    {{hostname}}
                {{/link-to}}
            {{/each}}
        </div>
    </div>

    {{outlet}}

</script>
