<script type="text/x-handlebars" id="server">
    <div class="middle">
        <div class="container-fluid">
            <h1>{{hostname}} <small>{{ip_address}}</small>{{#link-to 'server.edit' this classNames="btn btn-default btn-sm pull-right"}}Edit{{/link-to}}</h1>

            <hr />

            <div class="row">
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>Localhost:</dt>
                        <dd>{{local_hostname}}</dd>
                        <dt>Platform:</dt>
                        <dd>{{platform_name}}</dd>
                        <dt>Release:</dt>
                        <dd>{{platform_release}}</dd>
                        <dt>Version:</dt>
                        <dd>{{platform_version}}</dd>
                        <dt>Machine:</dt>
                        <dd>{{platform_architecture}}</dd>
                        <dt>CPU Count:</dt>
                        <dd>{{cpu_count}}</dd>
                        <dt>Load:</dt>
                        <dd>[{{round-two system_load_avg01}}] [{{round-two system_load_avg05}}] [{{round-two system_load_avg15}}]</dt>
                        <dt>Monit uptime:</dt>
                        <dd>{{time-duration-seconds monit_uptime}}</dd>
                    </dl>
                </div>

                <div class="col-md-6">
                    <p>CPU <span class="pull-right">{{round-one system_cpu}}%</span></p>
                    <div class="progress">
                        <div id="application-loading-bar" class="progress-bar active progress-bar-danger" role="progressbar" {{bind-attr style="cpu_user_css_width"}}></div>
                        <div id="application-loading-bar" class="progress-bar active progress-bar-warning" role="progressbar" {{bind-attr style="cpu_system_css_width"}}></div>
                        <div id="application-loading-bar" class="progress-bar active progress-bar-info" role="progressbar" {{bind-attr style="cpu_wait_css_width"}}></div>
                    </div>
                    <p>Memory: <small>{{system_memory_used}}k of {{memory_size}}k</small><span class="pull-right">{{round-one system_memory_used_percent}}%</span></p>
                    <div class="progress">
                        <div id="application-loading-bar" class="progress-bar active progress-bar-info" role="progressbar" {{bind-attr style="memory_css_width"}}></div>
                    </div>
                    <p>Swap: <small>{{system_swap_used}}k of {{swap_size}}k </small><span class="pull-right">{{round-one system_swap_used_percent}}%</span></p>
                    <div class="progress">
                        <div id="application-loading-bar" class="progress-bar active progress-bar-success"role="progressbar" {{bind-attr style="swap_css_width"}}></div>
                    </div>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Process</th>
                                <th>Status</th>
                                <th>Message</th>
                                <th>Uptime</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {{#each process in processes}}
                            <tr>
                                <td>
                                    {{process.name}}
                                </td>
                                <td>
                                    {{#if process.status_ok}}
                                        <span class="label label-success">Running</span>
                                    {{else}}
                                        <span class="label label-danger">Stopped</span>
                                    {{/if}}
                                </td>
                                <td>
                                    {{process.status_message}}
                                </td>
                                <td>
                                    {{time-duration-seconds process.uptime}}
                                </td>
                                <td>
                                    {{#link-to 'process' process class="btn btn-default btn-xs pull-right"}}Details{{/link-to}}
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {{outlet}}
</script>