<script type="text/x-handlebars" id="systems">
    <div class="section-b">
        <div class="toolbar-b">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <h1>Systems</h1>
                    </div>
                    <div class="col-md-4">
                        <div class="btn-group pull-right">
                            {{#link-to "systems.new" class="btn btn-success"}}New System{{/link-to}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-b">
            <div class="left">
                <div class="list-group">
                    {{#each}}
                        {{#link-to 'system' this classNames="list-group-item"}}
                            {{name}}
                            {{#if status_ok}}
                                <span class="label pull-right label-success">OK</span>
                            {{else}}
                                <span class="label pull-right label-danger">ERROR</span>
                            {{/if}}
                        {{/link-to}}
                    {{/each}}

                </div>
            </div>

            {{outlet}}

        </div>
    </div>
</script>
