<script type="text/x-handlebars" id="system">
    <div class="middle">
        <div class="container-fluid">
            <h1>
                {{name}}
                {{#link-to 'system.edit' this classNames="btn btn-default btn-sm pull-right"}}Edit{{/link-to}}
            </h1>

            <hr />

            <div class="row">
                <div class="col-md-12">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Process</th>
                                <th>Status</th>
                                <th>Message</th>
                                <th>Uptime</th>
                                <th>Hostname</th>
                            </tr>
                        </thead>
                        <tbody>
                        {{#each process in processes}}
                            <tr>
                                <td>
                                    {{process.name}}
                                </td>
                                <td>
                                    {{#if process.status_ok}}
                                        <span class="label label-success">Running</span>
                                    {{else}}
                                        <span class="label label-danger">Stopped</span>
                                    {{/if}}
                                </td>
                                <td>
                                    {{process.status_message}}
                                </td>
                                <td>
                                    {{time-duration-seconds process.uptime}}
                                </td>
                                <td>
                                    {{process.server.hostname}}
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    {{outlet}}
</script>