<script type="text/x-handlebars" id="system/edit">
    <div class="right">
        <div class="container-fluid">
            <h1>Edit:</h1>

            <hr />
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form">

                        <div {{bind-attr class=":form-group errors.name:has-error"}}>
                            <label for="inputName" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                {{input type="text" value=name classNames="form-control" id="inputName" placeholder="Enter a name..."}}
                                {{#each errors.name }}
                                    <span class="help-block">{{message}}</span>
                                {{/each}}
                            </div>
                        </div>

                        <div {{bind-attr class=":form-group errors.processes:has-error"}}>
                            <label for="inputProcesses" class="col-sm-2 control-label">Processes</label>
                            <div class="col-sm-10">

                                {{view Ember.Select
                                    classNames="form-control"
                                    multiple=true
                                    contentBinding="controller.allProcesses"
                                    optionValuePath="content.id"
                                    optionLabelPath="content.global_name"
                                    selectionBinding="processes"
                                }}

                                {{#each errors.processes }}
                                    <span class="help-block">{{message}}</span>
                                {{/each}}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="btn-group">
                                    <button class="btn btn-default" {{action 'cancel'}}>Cancel</button>
                                    <button class="btn btn-default" {{action 'submit'}}>Save</button>
                                    <button class="btn btn-default" {{action 'remove'}}>Delete</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</script>
