<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Ember Starter Kit</title>
  <link rel="stylesheet" href="css/master.css">
</head>
<body>
<div id="application-loading">
    <div class="container">
        <div class="well" style="margin-top:100px;">
            <h2>Loading...</h2>
            <div class="progress">
                <div id="application-loading-bar" class="progress-bar progress-bar-striped active"  data-percentage="2" role="progressbar" style="width: 2%"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/x-handlebars" id="application">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Dashboard</a>
        </div>
        <div class="container-fluid">
            <ul class="nav navbar-nav">
            {{#link-to "servers" tagName="li"}}
                <a {{bind-attr href="view.href"}}>Servers</a>
            {{/link-to}}
            {{#link-to "systems" tagName="li"}}
                <a {{bind-attr href="view.href"}}>Systems</a>
            {{/link-to}}
            </ul>
        </div>
    </nav>
    {{outlet}}
</script>
<script type="text/x-handlebars" id="machines">
    <div class="section-b">
      <div class="toolbar-b">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <h1>Servers</h1>
            </div>
            <div class="col-md-4">
              <div class="btn-group pull-right">
                {{#link-to "servers.new" class="btn btn-success"}}New Server{{/link-to}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-b">
        {{outlet}}
      </div>
    </div>
</script>
<script type="text/x-handlebars" id="process">
    <div class="right">
        <div class="container-fluid">
            <h1>{{name}} <small>{{pid}}</small></h1>
            <hr />

            {{#if status_ok}}
            <div class="row">
                <div class="col-md-12">
                    <p>CPU <span class="pull-right">{{round-one cpu_percent_total}}%</span></p>
                    <div class="progress">
                        <div id="application-loading-bar" class="progress-bar active progress-bar-danger" role="progressbar" {{bind-attr style="cpu_percent_total_css_width"}}></div>
                    </div>
                    <p>Memory: <small>{{memory_kilobyte_total}}k</small> <span class="pull-right">{{round-one memory_percent_total}}%</span></p>
                    <div class="progress">
                        <div id="application-loading-bar" class="progress-bar active progress-bar-info" role="progressbar" {{bind-attr style="memory_percent_total_css_width"}}></div>
                    </div>
                </div>
            </div>
            {{/if}}

            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Key</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Status</td>
                                <td>
                                    {{#if status_ok}}
                                        <span class="label label-success">Running</span>
                                    {{else}}
                                        <span class="label label-danger">Stopped</span>
                                    {{/if}}
                                </td>
                            </tr>
                            <tr><td>Satus Code</td><td>{{status_state}}</td></tr>
                            <tr><td>Message</td><td>{{status_message}}</td></tr>
                            {{#if status_ok}}
                            <tr><td>PPID</td><td>{{ppid}}</td></tr>
                            <tr><td>Uptime (Seconds)</td><td>{{uptime}}</td></tr>
                            <tr><td>Child Processes</td><td>{{child_count}}</td></tr>
                            {{/if}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script><script type="text/x-handlebars" id="server/edit">
    <div class="right">
        <div class="container-fluid">
            <h1>Edit:</h1>

            <hr />
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form">

                        <div {{bind-attr class=":form-group errors.hostname:has-error"}}>
                            <label for="inputHostname" class="col-sm-2 control-label">Hostname</label>
                            <div class="col-sm-10">
                                {{input type="text" value=hostname classNames="form-control" id="inputHostname" placeholder="Enter a hostname..."}}
                                {{#each errors.hostname }}
                                    <span class="help-block">{{message}}</span>
                                {{/each}}
                            </div>
                        </div>

                        <div {{bind-attr class=":form-group errors.ip_address:has-error"}}>
                            <label for="inputIpAddress" class="col-sm-2 control-label">IP Address</label>
                            <div class="col-sm-10">
                                {{input type="text" value=ip_address classNames="form-control" id="inputIpAddress" placeholder="Enter the IP address..."}}
                                {{#each errors.ip_address }}
                                    <span class="help-block">{{message}}</span>
                                {{/each}}
                            </div>
                        </div>

                        <div {{bind-attr class=":form-group errors.monit_port:has-error"}}>
                            <label for="inputMonitPort" class="col-sm-2 control-label">Monit Port</label>
                            <div class="col-sm-10">
                                {{input type="text" value=monit_port classNames="form-control" id="inputMonitPort" placeholder="Enter the monit port..."}}
                                {{#each errors.monit_port }}
                                    <span class="help-block">{{message}}</span>
                                {{/each}}
                            </div>
                        </div>

                        <div {{bind-attr class=":form-group errors.monit_username:has-error"}}>
                            <label for="inputMonitUsername" class="col-sm-2 control-label">Monit Username</label>
                            <div class="col-sm-10">
                                {{input type="text" value=monit_username classNames="form-control" id="inputMonitUsername" placeholder="Enter the monit username..."}}
                                {{#each errors.monit_username }}
                                    <span class="help-block">{{message}}</span>
                                {{/each}}
                            </div>
                        </div>

                        <div {{bind-attr class=":form-group errors.monit_password:has-error"}}>
                            <label for="inputMonitUsername" class="col-sm-2 control-label">Monit Password</label>
                            <div class="col-sm-10">
                                {{input type="text" value=monit_password classNames="form-control" id="inputMonitPassword" placeholder="Enter the monit password..."}}
                                {{#each errors.monit_password }}
                                    <span class="help-block">{{message}}</span>
                                {{/each}}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="btn-group">
                                    <button class="btn btn-default" {{action 'cancel'}}>Cancel</button>
                                    <button class="btn btn-default" {{action 'submit'}}>Save</button>
                                    <button class="btn btn-default" {{action 'remove'}}>Delete</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/x-handlebars" id="server">
    <div class="middle">
        <div class="container-fluid">
            <h1>{{hostname}} <small>{{ip_address}}</small>{{#link-to 'server.edit' this classNames="btn btn-default btn-sm pull-right"}}Edit{{/link-to}}</h1>

            <hr />

            <div class="row">
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>Localhost:</dt>
                        <dd>{{local_hostname}}</dd>
                        <dt>Platform:</dt>
                        <dd>{{platform_name}}</dd>
                        <dt>Release:</dt>
                        <dd>{{platform_release}}</dd>
                        <dt>Version:</dt>
                        <dd>{{platform_version}}</dd>
                        <dt>Machine:</dt>
                        <dd>{{platform_architecture}}</dd>
                        <dt>CPU Count:</dt>
                        <dd>{{cpu_count}}</dd>
                        <dt>Load:</dt>
                        <dd>[{{round-two system_load_avg01}}] [{{round-two system_load_avg05}}] [{{round-two system_load_avg15}}]</dt>
                        <dt>Monit uptime:</dt>
                        <dd>{{time-duration-seconds monit_uptime}}</dd>
                    </dl>
                </div>

                <div class="col-md-6">
                    <p>CPU <span class="pull-right">{{round-one system_cpu}}%</span></p>
                    <div class="progress">
                        <div id="application-loading-bar" class="progress-bar active progress-bar-danger" role="progressbar" {{bind-attr style="cpu_user_css_width"}}></div>
                        <div id="application-loading-bar" class="progress-bar active progress-bar-warning" role="progressbar" {{bind-attr style="cpu_system_css_width"}}></div>
                        <div id="application-loading-bar" class="progress-bar active progress-bar-info" role="progressbar" {{bind-attr style="cpu_wait_css_width"}}></div>
                    </div>
                    <p>Memory: <small>{{system_memory_used}}k of {{memory_size}}k</small><span class="pull-right">{{round-one system_memory_used_percent}}%</span></p>
                    <div class="progress">
                        <div id="application-loading-bar" class="progress-bar active progress-bar-info" role="progressbar" {{bind-attr style="memory_css_width"}}></div>
                    </div>
                    <p>Swap: <small>{{system_swap_used}}k of {{swap_size}}k </small><span class="pull-right">{{round-one system_swap_used_percent}}%</span></p>
                    <div class="progress">
                        <div id="application-loading-bar" class="progress-bar active progress-bar-success"role="progressbar" {{bind-attr style="swap_css_width"}}></div>
                    </div>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Process</th>
                                <th>Status</th>
                                <th>Message</th>
                                <th>Uptime</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {{#each process in processes}}
                            <tr>
                                <td>
                                    {{process.name}}
                                </td>
                                <td>
                                    {{#if process.status_ok}}
                                        <span class="label label-success">Running</span>
                                    {{else}}
                                        <span class="label label-danger">Stopped</span>
                                    {{/if}}
                                </td>
                                <td>
                                    {{process.status_message}}
                                </td>
                                <td>
                                    {{time-duration-seconds process.uptime}}
                                </td>
                                <td>
                                    {{#link-to 'process' process class="btn btn-default btn-xs pull-right"}}Details{{/link-to}}
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {{outlet}}
</script><script type="text/x-handlebars" id="servers">

    <div class="left">
        <div class="list-group">
            {{#each}}
                {{#link-to 'server' this classNames="list-group-item"}}
                    {{hostname}}
                {{/link-to}}
            {{/each}}
        </div>
    </div>

    {{outlet}}

</script>
<script type="text/x-handlebars" id="servers/new">
    <div class="middle">
        <div class="container-fluid">
            <h1>Create a new server:</h1>

            <hr />
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form">

                        <div {{bind-attr class=":form-group errors.hostname:has-error"}}>
                            <label for="inputHostname" class="col-sm-2 control-label">Hostname</label>
                            <div class="col-sm-10">
                                {{input type="text" value=hostname classNames="form-control" id="inputHostname" placeholder="Enter a hostname..."}}
                                {{#each errors.hostname }}
                                    <span class="help-block">{{message}}</span>
                                {{/each}}
                            </div>
                        </div>

                        <div {{bind-attr class=":form-group errors.ip_address:has-error"}}>
                            <label for="inputIpAddress" class="col-sm-2 control-label">IP Address</label>
                            <div class="col-sm-10">
                                {{input type="text" value=ip_address classNames="form-control" id="inputIpAddress" placeholder="Enter the IP address..."}}
                                {{#each errors.ip_address }}
                                    <span class="help-block">{{message}}</span>
                                {{/each}}
                            </div>
                        </div>

                        <div {{bind-attr class=":form-group errors.monit_port:has-error"}}>
                            <label for="inputMonitPort" class="col-sm-2 control-label">Monit Port</label>
                            <div class="col-sm-10">
                                {{input type="text" value=monit_port classNames="form-control" id="inputMonitPort" placeholder="Enter the monit port..."}}
                                {{#each errors.monit_port }}
                                    <span class="help-block">{{message}}</span>
                                {{/each}}
                            </div>
                        </div>

                        <div {{bind-attr class=":form-group errors.monit_username:has-error"}}>
                            <label for="inputMonitUsername" class="col-sm-2 control-label">Monit Username</label>
                            <div class="col-sm-10">
                                {{input type="text" value=monit_username classNames="form-control" id="inputMonitUsername" placeholder="Enter the monit username..."}}
                                {{#each errors.monit_username }}
                                    <span class="help-block">{{message}}</span>
                                {{/each}}
                            </div>
                        </div>

                        <div {{bind-attr class=":form-group errors.monit_password:has-error"}}>
                            <label for="inputMonitUsername" class="col-sm-2 control-label">Monit Password</label>
                            <div class="col-sm-10">
                                {{input type="text" value=monit_password classNames="form-control" id="inputMonitPassword" placeholder="Enter the monit password..."}}
                                {{#each errors.monit_password }}
                                    <span class="help-block">{{message}}</span>
                                {{/each}}
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="btn-group">
                                    <button {{action 'cancel'}} class="btn btn-default">Cancel</button>
                                    <button {{action 'submit'}} class="btn btn-default">Save</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/x-handlebars" id="system/edit">
    <div class="right">
        <div class="container-fluid">
            <h1>Edit:</h1>

            <hr />
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form">

                        <div {{bind-attr class=":form-group errors.name:has-error"}}>
                            <label for="inputName" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                {{input type="text" value=name classNames="form-control" id="inputName" placeholder="Enter a name..."}}
                                {{#each errors.name }}
                                    <span class="help-block">{{message}}</span>
                                {{/each}}
                            </div>
                        </div>

                        <div {{bind-attr class=":form-group errors.processes:has-error"}}>
                            <label for="inputProcesses" class="col-sm-2 control-label">Processes</label>
                            <div class="col-sm-10">

                                {{view Ember.Select
                                    classNames="form-control"
                                    multiple=true
                                    contentBinding="controller.allProcesses"
                                    optionValuePath="content.id"
                                    optionLabelPath="content.global_name"
                                    selectionBinding="processes"
                                }}

                                {{#each errors.processes }}
                                    <span class="help-block">{{message}}</span>
                                {{/each}}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="btn-group">
                                    <button class="btn btn-default" {{action 'cancel'}}>Cancel</button>
                                    <button class="btn btn-default" {{action 'submit'}}>Save</button>
                                    <button class="btn btn-default" {{action 'remove'}}>Delete</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/x-handlebars" id="system">
    <div class="middle">
        <div class="container-fluid">
            <h1>
                {{name}}
                {{#link-to 'system.edit' this classNames="btn btn-default btn-sm pull-right"}}Edit{{/link-to}}
            </h1>

            <hr />

            <div class="row">
                <div class="col-md-12">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Process</th>
                                <th>Status</th>
                                <th>Message</th>
                                <th>Uptime</th>
                                <th>Hostname</th>
                            </tr>
                        </thead>
                        <tbody>
                        {{#each process in processes}}
                            <tr>
                                <td>
                                    {{process.name}}
                                </td>
                                <td>
                                    {{#if process.status_ok}}
                                        <span class="label label-success">Running</span>
                                    {{else}}
                                        <span class="label label-danger">Stopped</span>
                                    {{/if}}
                                </td>
                                <td>
                                    {{process.status_message}}
                                </td>
                                <td>
                                    {{time-duration-seconds process.uptime}}
                                </td>
                                <td>
                                    {{process.server.hostname}}
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    {{outlet}}
</script><script type="text/x-handlebars" id="systems">
    <div class="section-b">
        <div class="toolbar-b">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <h1>Systems</h1>
                    </div>
                    <div class="col-md-4">
                        <div class="btn-group pull-right">
                            {{#link-to "systems.new" class="btn btn-success"}}New System{{/link-to}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-b">
            <div class="left">
                <div class="list-group">
                    {{#each}}
                        {{#link-to 'system' this classNames="list-group-item"}}
                            {{name}}
                            {{#if status_ok}}
                                <span class="label pull-right label-success">OK</span>
                            {{else}}
                                <span class="label pull-right label-danger">ERROR</span>
                            {{/if}}
                        {{/link-to}}
                    {{/each}}

                </div>
            </div>

            {{outlet}}

        </div>
    </div>
</script>
<script type="text/x-handlebars" id="systems/new">
    <div class="middle">
        <div class="container-fluid">
            <h1>Create a new system:</h1>

            <hr />
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form">

                        <div {{bind-attr class=":form-group errors.name:has-error"}}>
                            <label for="inputName" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                {{input type="text" value=name classNames="form-control" id="inputName" placeholder="Enter a name..."}}
                                {{#each errors.name }}
                                    <span class="help-block">{{message}}</span>
                                {{/each}}
                            </div>
                        </div>

                        <div {{bind-attr class=":form-group errors.processes:has-error"}}>
                            <label for="inputProcesses" class="col-sm-2 control-label">Processes</label>
                            <div class="col-sm-10">

                                {{view Ember.Select
                                    classNames="form-control"
                                    multiple=true
                                    contentBinding="controller.allProcesses"
                                    optionValuePath="content.id"
                                    optionLabelPath="content.global_name"
                                    selectionBinding="processes"
                                }}

                                {{#each errors.processes }}
                                    <span class="help-block">{{message}}</span>
                                {{/each}}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="btn-group">
                                    <button {{action 'cancel'}} class="btn btn-default">Cancel</button>
                                    <button {{action 'submit'}} class="btn btn-default">Save</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</script>

  <script src="js/application.js"></script>

  <!-- to activate the test runner, add the "?test" query string parameter -->
  <!-- <script src="tests/runner.js"></script> -->
</body>
</html>
